.card-block {
   display: grid;
   justify-content: space-evenly;
   grid-template-columns: repeat(auto-fill, 200px);
   grid-gap: 15px;
}
.card {
    /* width: 200px; */
    height: 200px;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    border-image-slice: 10 10 10 10;
    border-image-source: repeating-linear-gradient(-45deg,#E25B79 0,#E25B79 15px, transparent 0px, transparent 30px, #4457A0 0, #4457A0 45px, transparent 0, transparent 60px);
}
.card > a:link {
    text-decoration: none;
}
.title {
   
    font-size: 40px;
    color: transparent;
    background: linear-gradient(30deg, #228DFD 30%, #e0d311 60%, #F45749 90%);
    background-size: 10px, 100%;
    background-clip: text;
    -webkit-background-clip: text;
}
body:active::after {
   transform: translate(-50%, -100%);
   opacity: 0.5;
   transition: 0s;
   left: -999px;
}
body::after {
    content: '你好啊，欢迎来这里逛逛~';
    position: fixed;
    z-index: 999;
    left: calc(var(--clientx, -999) * 1px);
    top: calc(var(--clienty, -999) * 1px);
    transform: translate(-50%, calc(-100% - 20px));
    opacity: 0;
    transition: transform .3s, opacity .5s;
}