.bubble-box {
    height: 200px;
    width: 300px;
    margin: auto;
}
.left-bubble {
    width: fit-content;
    max-width: 200px;
    padding: 5px;
    background-color: #98E165;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
}
.right-bubble {
    width: fit-content;
    max-width: 200px;
    padding: 5px;
    background-color: #98E165;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    position: relative;
}
.left-triangle {
    position: absolute;
    left: -18px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 15px solid #98E165;
}
.right-triangle {
    position: absolute;
    left: 130px;
    top: 5px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 15px solid #98E165;
}